= form_for @room do |f|
  - if @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
      %ul
        - @room.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :genre_id 
    -# = f.select :genre, [['ニュース', :news], ['雑談', :chat]], {}, class: 'form-control'
    = f.collection_select :genre_id, Genre.all, :enum_key, :title, {}, {:selected => :genre_id}
  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit 'Save'
