- if message.master?
  - master = ' master_chat'
- else
  - master = ''
%li{class: "message_area#{master} uuid#{message.uuid} message_area"}
  %p.thumbnail
    = message.username
    = " | "
    %span.uuid{onClick: "userMute('#{message.uuid}')"}
      = message.uuid
      = " | "
    %span.date
      = message.created_at.strftime('%Y/%m/%d %H:%M')
  .message
    %p
      = simple_format(sanitize(message.text, tags: %w(p br a)))