- if message.master?
  - master = ' master_chat'
- else
  - master = ''
%li{class: "message_area#{master}"}
  %p.thumbnail
    = message.username
    = " | "
    %span.uuid
      = message.uuid
  .message
    %p
      = simple_format(message.text)