.share_buttons
  - shareUrl = share_url + contents_id.to_s
  -#ツイートボタン
  .tweet.mx-1
    %a{href: "https://twitter.com/share", class: "twitter-share-button", :'data-text' => "#{contents_name}", :'data-size' => "large", :'data-url' => "#{shareUrl}"} Tweet
    %script{async: "async", src: "https://platform.twitter.com/widgets.js", charset: "utf-8"}
  -# LINEシェアボタン
  .line.mx-1
    -#
      .line-it-button{ :'data-lang' => "ja", :'data-type' => "share-c", :'data-url' => "#{shareUrl}", style: "display: none;"}
      %script{src: "https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js", async: "async", defer: "defer"}

    %a{href: "http://line.me/R/msg/text/?#{URI.escape("#{contents_name} #{shareUrl}", Regexp.new("[^#{URI::PATTERN::UNRESERVED}]"))}"}
      %img{src: "https://d.line-scdn.net/r/web/social-plugin/img/common/line_60.png", width: "30", height: "30",  alt: "LINEで送る"}
  -# facebook シェアボタン
  .facebook.mx-1
    - facebook_share_url = shareUrl.gsub(':','%3A')
    - facebook_share_url = facebook_share_url.gsub('/','%2F')
    - facebook_share_url = "https://www.facebook.com/plugins/share_button.php?href=" + facebook_share_url + "&layout=button&size=large&mobile_iframe=true&width=75&height=28&appId"
    %iframe{src: "#{facebook_share_url.to_s}", width: "75", height: "28", style: "border:none;overflow:hidden", scrolling: "no", frameborder: "0", allowTransparency: "true"}
