- content_for :header do
  .link
    = link_to '<', category_path(@room.category), class: 'back_link', id: 'back_button'
  .title
    %h3
      = @room.title
  = render 'rooms/share', contents_id: @room.id, contents_name: @room.title, share_url: ENV['ROOM_SHARE_URL']
</div>
.room_show
  %ul.messages#messages
    - unless @all
      .more_link_area
        = link_to '過去ログ全部みる', room_path(@room, all: true)
    - @messages.each do |message|
      = render 'message', message: message
  .input_area#input_area
    .upper
      %input{'data-behavior' => "room_speaker", tyle: 'text', id: 'username', placeholder: '名無しさん', maxlength: "20", onChange: "usernameSave(this)" }
      %input{type:"text", id: "characnt", disabled: "disabled"}
    .lower
      %textarea{'data-behavior' => "room_speaker", id: 'textarea', onkeyup: "document.getElementById('characnt').value=1000 - this.value.length"}
      %button{class: 'btn', id: 'send_button'}
        送信
  :css
    .contants {
      padding-top: 42px;
      height: 0;
      min-height: 0;
    }
    /
  - if @firstScroll
    :javascript
      (function() {
        //scrollTopはブラウザによって扱える要素が違う
        //safari用
        $('body').delay(100).animate({
          scrollTop: $(document).height()
        },500);
        //chrome用
        $('html').delay(100).animate({
          scrollTop: $(document).height()
        },500);
      })();
  :javascript
    (function() {
      App.room1 = App.cable.subscriptions.create({
        channel: 'RoomChannel',
        room: #{@room.id}  // channelに送られた後、params['room']で取り出せる
      }, {
        connected: function() {
        },
        disconnected: function() {
        },
        received: function(data) {
          //受信したチャットを追加する前にスクロールバー位置取得
          let scrollPositon = getScrollBottom()
          //added
          $('#messages').append(data['message']);
          //スクロールバーが一番下から30px未満ならチャット受信時自動スクロール
          if (scrollPositon < 30) {
            //scrollTopはブラウザによって扱える要素が違う
            //safari用
            $('body').delay(100).animate({
              scrollTop: $(document).height()
            },500);
            //chrome用
            $('html').delay(100).animate({
              scrollTop: $(document).height()
            },500);
          }
          return
        },
        speak: function(message, username) {
          return this.perform('speak', {
            message: message,
            username: username
          });
        }
      });

      //送信
      //送信ボタンクリック
      $('#send_button').click(function() {
        App.room1.speak($('#textarea').val(), $('#username').val());
        $('#textarea').val('');
      });
      //Shift + Enter
      $('#textarea').keyup(function(e) {
        $(document).scrollTop($('#messages').height());
        if(e.keyCode == 13 && e.shiftKey) {
          App.room1.speak($('#textarea').val(), $('#username').val());
          $('#textarea').val('');
        }  
      });

      //Cookieからユーザー名を取得してセット
      var cookies = document.cookie.split(';');
      cookies.forEach(function(value) {
          var content = value.split('=');
          if (content[1] && content[0] == "username") {
            $('#username').val(unescape(content[1]));
          }
      })
    })();

    function getScrollBottom() {
      var body = window.document.body;
      var html = window.document.documentElement;
      var scrollTop = body.scrollTop || html.scrollTop;
      return html.scrollHeight - html.clientHeight - scrollTop;
    }

    //名前が変更された時Cookieに保存
    function usernameSave(name) {
      document.cookie = 'username=' + escape(name.value); 
    }

    //uuid指定して色変更できる機能
    function userMute(uuid) {
      // $('.uuid' + uuid).css('display', 'none');
      let colors = ['#F6CECE',
                    '#F6E3CE',
                    '#F2F5A9',
                    '#D0F5A9',
                    '#A9F5BC',
                    '#A9F5F2',
                    '#A9BCF5',
                    '#9F81F7',
                    '#D0A9F5',
                    '#F6CEEC',
                    '#F6CED8',
                    '#FA5882',
                    '#FF00FF',
                    '#7401DF',
                    '#01DFD7',
                    '#01DF01',
                    '#FF8000',
                    '#DF0101',
                    '#04B4AE'];
      let rand = Math.floor(colors.length*Math.random());
      $('.uuid' + uuid + ' .message').css('background-color', colors[rand]);
    }
