- content_for :header do
  .link
    %a{href: "javascript:history.back();", class: 'back_link', id: 'back_button'} <
  .title
    %h3
      = @room.title
</div>
.room_show
  %ul.messages#messages
    - @messages.each do |message|
      = render 'message', message: message
  .input_area
    %textarea{'data-behavior' => "room_speaker", class: 'textarea', id: 'textarea'}
    -# %input{type: "text", 'data-behavior' => "room_speaker", class: 'text_box'}
    %button{class: 'btn', id: 'send_button'}
      送信
  :css
    .contants {
      padding-top: 42px;
    }
  :javascript
    (function() {
      //scrollTopはブラウザによって扱える要素が違う
      //safari用
      $('body').delay(100).animate({
        scrollTop: $(document).height()
      },500);
      //chrome用
      $('html').delay(100).animate({
        scrollTop: $(document).height()
      },500);

      App.room1 = App.cable.subscriptions.create({
        channel: 'RoomChannel',
        room: #{@room.id}  // channelに送られた後、params['room']で取り出せる
      }, {
        connected: function() {
        },
        disconnected: function() {
        },
        received: function(data) {
          $('#messages').append(data['message']);
          //scrollTopはブラウザによって扱える要素が違う
          //safari用
          $('body').delay(100).animate({
            scrollTop: $(document).height()
          },500);
          //chrome用
          $('html').delay(100).animate({
            scrollTop: $(document).height()
          },500);
          //$('#messages').animate({scrollTop: $('#messages')[0].scrollHeight}, 'fast');
          return
        },
        speak: function(message, room_id) {
          return this.perform('speak', {
            message: message,
          });
        }
      });

      //送信
      //送信ボタンクリック
      $('#send_button').click(function() {
        App.room1.speak($('#textarea').val(), #{@room.id});
        $('#textarea').val('');
      });
      //Shift + Enter
      $('#textarea').keyup(function(e) {
        $(document).scrollTop($('#messages').height());
        if(e.keyCode == 13 && e.shiftKey) {
          App.room1.speak($('#textarea').val(), #{@room.id});
          $('#textarea').val('');
        }  
      });
    })();