%p#notice= notice

%p
  %b Title:
  = @room.title
.messages#messages
  - @messages.each do |message|
    = render 'message', message: message

%form
  %input{type: "text", 'data-behavior' => "room_speaker"}

= link_to 'Edit', edit_room_path(@room)
\|
= link_to 'Back', rooms_path

:javascript
  (function() {
    App.room1 = App.cable.subscriptions.create({
      channel: 'RoomChannel',
      room: #{@room.id}  // channelに送られた後、params['room']で取り出せる
    }, {
      connected: function() {
      },
      disconnected: function() {
      },
      received: function(data) {
        return $('#messages').append(data['message']);
      },
      speak: function(message, room_id) {
        return this.perform('speak', {
          message: message,
        });
      }
    });

    $(document).on('keypress', '[data-behavior~=room_speaker]', function(event) {
      if (event.keyCode === 13) {
        App.room1.speak(event.target.value, #{@room.id});
        event.target.value = '';
        return event.preventDefault();
      }
    });
  })();